body {
    margin: 0;
    background-color: rgb(255, 255, 255);
  }
  
  h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
  }

  .name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
  .head,
  .leftarm,
  .torso,
  .rightarm,
  .leftleg,
  .rightleg {
    background-color: rgb(41, 215, 228);  
  }
  
  .head {
    width: 220px;
    margin: 0 auto;
    height: 125px;
    border-radius: 200px 200px 0 0;
    margin-bottom: 10px;
    position: relative;
  }
  
  .eyes {
    position: relative;
    top: 100px;
  }
  
  .lefteye,
  .righteye {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    position:relative;
  }
  
  .lefteye {
    margin-left: 30px;
  }
  
  .righteye {
    margin-left: 100px;
  }
  
  .upperbody {
    width: 300px;
    height: 150px;
    margin: 0 auto;
    display: flex;
  }
  
  .leftarm,
  .rightarm {
    width: 40px;
    height: 125px;
    border-radius: 100px;
    margin-top: 20px;
  }
  
  .leftarm {
    margin-right: 10px;
  }
  .rightarm {
    margin-left: 10px;
  }
  
  .torso {
    width: 290px;
    height: 200px;
    border-radius: 0px 0px 50px 50px;
    transition: border-radius 1s;
  }
  
  .lowerbody {
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  .leftleg,
  .rightleg {
    width: 40px;
    height: 160px;
    border-radius: 0 0 100px 100px;
    display:inline-block;
  }
  
  .leftleg {
    margin-left: 45px;
  }
  
  .rightleg {
    margin-left: 30px;
    position:absolute;
  }
  
  .robots:hover .head  {
    animation: movehead 2s infinite;
  }
  
  .robots:hover .torso {
    border-radius: 20%;
    animation: movetorso 2s infinite;
  }
  
  .robots:hover .leftarm {
    animation: moveleftarm 2s infinite;
  }
  
  .robots:hover .rightarm {
    animation: moverightarm 2s infinite;
  }
  
  .robots:hover .leftleg {
    animation: moveleftleg 2s infinite;
  }
  
  .robots:hover .rightleg {
    animation: moverightleg 2s infinite;
  }
  
  @keyframes movehead {
    0% {
      width: 200px;
    }
  
    25% {
      width: 250px;
    }
  
    50% {
      width: 200px;
    }
  
    75% {
      width: 250px;
    }
  
    100% {
      width: 200px;
    }
  }
  
  @keyframes moveleftarm {
    0% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    25% {
      transform: rotate(90deg);
      transform-origin: top center;
    }
  
    50% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    75% {
      transform: rotate(90deg);
      transform-origin: top center;
    }
  
    100% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  }
  
  @keyframes moverightarm {
    0% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    25% {
      transform: rotate(-90deg);
      transform-origin: top center;
    }
  
    50% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  
    75% {
      transform: rotate(-90deg);
      transform-origin: top center;
    }
  
    100% {
      transform: rotate(0deg);
      transform-origin: top center;
    }
  }
  
  @keyframes moveleftleg {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(20deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(20deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes moverightleg {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-20deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(-20deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes movetorso {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  